<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - ABC </title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/regular.min.css" rel="stylesheet" />
    <style>
        body{
            background-color:#f9f9f9;
        }
        .menu-list-vert {
            margin: 0 0 3px 0;
            width: 150px;
            text-align: left;
        }
            .menu-list-vert > .menu-item {
                display: block;
                padding: 5px 10px 5px 30px;
                color: #888;
                text-decoration: none;
            }
                .menu-list-vert > .menu-item:hover {
                    color:#000000;
                }

        .form-control {
            border-radius:0;
            padding:3px 5px;
        }
    
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size:25px;" href="~/Account/Signup" title="Social Network">ABC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Signin">Signin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Signup">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="container-fluid m-auto" style="background-color:#ffffff;">
            <div class="d-flex">
                <div class="menu-list-vert mt-3">
                    <a href="#" class="menu-item">Profile</a>
                    <a href="#" class="menu-item">Password</a>
                    <a href="#" class="menu-item">Website</a>
                    <a href="#" class="menu-item">Video</a>
                    <a href="#" class="menu-item">Sitemap</a>
                </div>
                <div style="border-right:1px solid #ddd; margin:5px 10px;">
                </div>
                <div class="d-block" style="height: 82vh; width: 100%; overflow-x: hidden; overflow-y: auto;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <div class="fixed-bottom text-center mb-2">
            <hr />
            &copy; @DateTime.Now.Year - ABC
        </div>
    </footer>
    <script src="~/Scripts/local/jQuery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/all.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
