@model SocialNetworking.ViewModel.RegistrationViewModel

@{
    ViewBag.Title = "ForgotPassword";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <div class="container justify-content-center">
        <div class="row mt-5">
            @Html.AntiForgeryToken()
            <div class="col-lg-5 col-md-6 col-sm-10 col-xxl-3 col-xl-4 m-auto">
                @if (Model != null)
                {
                    if (Model.ErrorMessage == "Success")
                    {<div class="alert alert-success p-3" role="alert">Password Sent.</div>
                    }
                    else
                    {
                        <div class="alert alert-danger p-3" role="alert">@Model.ErrorMessage</div>
                    }
                }
                else
                {
                    <div class="alert alert-danger p-3 visually-hidden" role="alert"></div>
                }
                </div>
                <h2 class="text-center pt-2">Let me search your account</h2>
                <div class="col-lg-5 col-md-6 col-sm-10 col-xxl-3 col-xl-4 m-auto">
                    <p class="text-muted">Enter your email address below and we'll send you'r password or a link to reset your password.</p>
                    <div class="input-group mt-4 mb-3" data-id="email">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                        <span class="text-danger" asp-validation-for="email"></span>
                    </div>
                    <div class="d-grid">
                        <input type="submit" class="btn btn-success" value="Send" />
                        <p class="text-muted mt-3">for login: @Html.ActionLink("Click Here", "Signin","Account")</p>
                    </div>
                </div>
            </div>
        </div>
}

