
@{
    ViewBag.Title = "DeleteWebsite";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="btn-group float-end">
        <a href="Website" class="btn btn-primary" aria-current="page">All</a>
        <a href="AddWebsite" class="btn btn-primary">Add</a>
        <a href="#" class="btn btn-primary active">Delete</a>
    </div>
    <p class="display-6 text-muted m-2">Website</p>
    <p class="text-muted m-2">Delete website Url</p>
</div>

