
@{
    ViewBag.Title = "DeleteVideo";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="btn-group float-end">
        <a href="Video" class="btn btn-success" aria-current="page">All</a>
        <a href="AddVideo" class="btn btn-success">Add</a>
        <a href="#" class="btn btn-success active">Delete</a>
    </div>
    <p class="display-6 text-muted m-2">Video</p>
    <p class="text-muted m-2">Delete Video Url</p>
</div>

