
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container justify-content-center mt-2">
        <p class="display-6 text-muted text-left m-2">Password</p>
        <div class="alert alert-danger  p-3 visually-hidden" role="alert">Error Message</div>
        <div class="row g-2 m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingOldPassword" placeholder="Please Enter Old Password" />
                    <label for="floatingOldPassword">Old Password</label>
                </div>
            </div>
        </div>
        <div class="row g-2 m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingNewPassword" placeholder="Please Enter New Password" />
                    <label for="floatingNewPassword">New Password</label>
                </div>
            </div>
        </div>
        <div class="row g-2 m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingNewConfirmPassword" placeholder="Please Enter New Confirm Password" />
                    <label for="floatingNewConfirmPassword">New Confirm Password</label>
                </div>
            </div>
        </div>
        <div class="row g-2 m-2">
            <div class="col-md-3"></div>
                <div class="col-md-3">
                    <input type="submit" value="Update" class="btn btn-outline-success float-end" />
                </div>
            </div>
        </div>
}

