
@{
    ViewBag.Title = "Profle";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container justify-content-center mt-2">
        <p class="display-6 text-muted text-center">Profile</p>
        <div class="alert alert-danger  p-3 visually-hidden" role="alert">Error Message</div>
        <div class="row g-2 m-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingUsername" placeholder="Please Enter Username" value="Please Enter Username" disabled>
                    <label for="floatingUsername">Username</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" value="mdo@example.com" disabled>
                    <label for="floatingEmail">Email address</label>
                </div>
            </div>
        </div>
        <div class="row g-2 m-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingFirstName" placeholder="Please Enter First Name" value="Please Enter First Name">
                    <label for="floatingFirstName">FirstName</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingLastName" placeholder="Please Enter Last Name" value="Please Enter Last Name">
                    <label for="floatingLastName">LastName</label>
                </div>
            </div>
        </div>
        <div class="row g-2 m-2">
            <div class="col-md">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Please Enter Address Here" id="floatingAddress" style="height: 75px"></textarea>
                    <label for="floatingAddress">Address</label>
                </div>
            </div>
        </div>
        <div class="row g-2 m-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingContactNumber" placeholder="Please Enter Phone Number" value="Please Enter Phone Number">
                    <label for="floatingContactNumber">Contact Number</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingCountry" placeholder="Please Enter Country" value="Please Enter Country">
                    <label for="floatingCountry">Country</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mt-3 justify-content-center">
            <div class="col-md-2">
                <button class="btn btn-outline-success"> Update </button>
            </div>
            <div class="col-md-2 m-2">
                <button class="btn btn-outline-success"> Cancel </button>
            </div>
        </div>
    </div>
}
