
@{
    ViewBag.Title = "Sitemap";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="btn-group float-end">
        <a href="#" class="btn btn-success active" aria-current="page">All</a>
        <a href="AddSitemap" class="btn btn-success">Add Sitemap</a>
    </div>
    <p class="display-6 text-muted m-2">Sitemap</p>
    <p class="text-muted m-2">no sitemap details to show</p>
</div>

