
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="btn-group float-end">
        <a href="#" class="btn btn-success active" aria-current="page">All</a>
        <a href="AddWebsite" class="btn btn-success">Add</a>
        <a href="DeleteWebsite" class="btn btn-success">Delete</a>
    </div>
    <p class="display-6 text-muted m-2">Website</p>
    <p class="text-muted m-2">Show all the website Urls</p>
</div>


